.page {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #fcf5e5;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 5px 12px rgba(0, 0, 0, 0.12);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 1440px) {
  .page {
    border-radius: 0;
  }
}
body {
  margin: 0;
  background-color: #ffffff;
}
