.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 10px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  min-width: 0;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  margin-top: auto;
  appearance: none;
  border: none;
  background: transparent;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: inline-flex;
  align-items: flex-end;
  gap: 6px;
  cursor: pointer;
}

.profile__edit-btn:hover,
.profile__edit-btn:focus-visible {
  opacity: 0.7;
}

.profile__add-btn {
  display: flex;
  margin-left: auto;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  background-color: #212121;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #fcf5e5;
  align-self: flex-end;
  gap: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profile__add-btn:hover,
.profile__add-btn:focus-visible {
  opacity: 0.9;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    text-align: center;
    align-items: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
    min-height: 52px;
  }

  .profile__edit-btn {
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
